* {
    margin: 0;
    padding: 0%;
}

.logo {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.nav-links {
    text-align: center;
    background: #333;
    
}

.nav-links ul li {
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    display: inline-block;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.banner{
    width: 100%;
    min-height: 60vh;
    background: url('./images/banner.png') no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    padding: 50px;
    font-size: 20px;
    color: chocolate;
    text-align: center;
    text-decoration: none;
}

.title-audio{
    background: transparent;
    width: 100px;
    height: 30px;
}

.nav-links ul li :hover {
    color: rgb(240, 43, 43);
    text-decoration: rgb(33, 151, 236);
    transition: 0.5s;
}

.topbio {
    text-align: center;
    color: white;
}

.btn1 {
  display: inline-block;
  text-decoration: none;
  color: rgb(9, 133, 229);
  border: 1px solid black;
  border-radius: 20px;
  padding: 12px 30px;
  background: rgb(220, 159, 45);
  font-size: 15px;
  margin: 10px 20px;
  text-align: center;
}

.btn1:hover {
    cursor: pointer;
    color: rgb(211, 43, 43);
    background: white;
    
}




/* Tables Starts Here */

#table-1{
    text-align: center;
    
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}




#skill-table{
    text-align: center;
    
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1% 46%;
}










/* Tables Starts Here */





.about{
    text-align: center;
    margin: 30px;

}

.aboutme {
    color: rgb(52, 136, 44);
}

.about-p {
    margin: 5px;
    color: rgb(179, 53, 53);
}

.about-bio {
    margin: 60px;
    color: white;
}

.facebook {
    margin: 10px;
    text-decoration: none;
    color: rgb(247, 248, 248);
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(5, 112, 178);
    padding: 5px 20px;
}

.facebook:hover{
    color: rgb(211, 23, 23);
    background: white;
}

.linkedin{
    margin: 10px;
    text-decoration: none;
    color: rgb(247, 248, 248);
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(3, 80, 127);
    padding: 5px 20px;
}

.linkedin:hover{
    color: rgb(225, 32, 32);
    background: white;
}

.insta{
    margin: 10px;
    text-decoration: none;
    color: rgb(247, 248, 248);
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(5, 112, 178);
    padding: 5px 20px;
}

.insta:hover{
    color: rgb(208, 37, 37);
    background: white;
}

.Copyright {
    margin: 10px;
    text-align: center;
    color: darksalmon;
}




.skills {
    margin: 10px;
    text-align: center;
    color: rgb(155, 92, 9);
    font-size: 50px;

}

.skilldescprition {
    text-align: center;
    color: darkgreen;
}


.orderedlist {
    margin: 5px;
    text-align: center;
    padding: 10px 20px;

}

.finalskills {
    margin: 10px;
    font-size: 20px;
    color: darkcyan;
    text-align: center;
}

.initialskill {
    margin: 10px;
    font-size: 20px;
    color: darkcyan;
    text-align: center;
}

.unorderedlist{
    margin: 5px;
    text-align: center;
    padding: 10px 20px;
}

.contact {
    margin: 20px;
    text-align: center;
    color: rgba(14, 111, 209, 0.839);
}

.phone{
    margin: 5px;
    text-align: center;
    color: rgb(125, 127, 90);
}

.email {
    margin: 30px;
    text-align: center;
    color: rgb(118, 115, 67);
}


.aboutbanner{
    width: 100%;
    min-height: 10vh;
    background: url('./images/banner0001.jpg') no-repeat;
    background-size: cover;
    position: relative;
}    

.contactbanner {
    width: 100%;
    min-height: 20vh;
    background: url('./images/banner0001.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.address {
    color: blanchedalmond;
    text-align: center;
}

.topicon {

}

.top-img{
    margin-left: 96%;
    border: 0.01px solid white;
    border-radius: 50%;
    width: 40px;
}

.top-img:hover{
    cursor: pointer;
}